.image-cover{
    height: 100px;
    width: 150px;
}

.image-item{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cover-image{
    height: 100px;
    width: 150px;
}

.image-item{
    height: 100%;
    width: 100%;
    object-fit: cover;
}