/* .card__bottom button {
    margin-left: auto;
} */

.card_employee {
    margin-top: 10px;
}

.tour__img:hover img {
    transform: scale(1.1);
}

.tour__img img {
    transition: .5s;
}

.employee__img img {
    max-width: 100%;
    height: auto;
}

.justify-content-center {
    justify-content: center !important;
}

.team-item .btn {
    background: #FFFFFF;
    color: var(--secondary-color);
    border-radius: 20px;
    border-bottom: 1px solid var(--secondary-color);
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.team-item {
    margin-top: -30px;
}

.btn__square:hover {
    background-color: #faa935 !important;
    color: #fff !important;
}

.card_top span {
    font-size: 1rem;
}

.card_top span i {
    color: var(--secondary-color);
}

.tour__location .user_employee {
    text-decoration: none;
    color: var(--heading-color);
    transition: 0.3s;
}