.pagination span {
    width: 2rem;
    height: 2rem;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-color);
    color: var(--heading-color);
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 700;
}

.active__page {
    background: var(--secondary-color);
    color: #fff !important;
}

.category {
    margin-top: 30px;
}

.category li {
    margin-top: 10px;
}

.category a {
    font-weight: 500;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.category a:hover {
    color: #faa935 !important;
}

.navbar_tour {
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(229, 231, 235);
    position: sticky;
    top: 80px;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 14rem;
}

.navbar_tour h5 {
    font-size: 1.5rem;
}

.navbar_tour .category {
    font-size: 1.1rem;
    margin-top: 48px;
}

.navbar_tour .category li {
    margin-bottom: 18px;
}